<link rel="stylesheet" type="text/css" href="/app/Chat/ChatBase.css">
<div class="container">
	<div class="row col-xs-10 col-md-4 col-lg-4 chat-window">
		<div class="col-xs-12 col-md-12 align-self-end">
			<div class="panel panel-default">
				<div class="panel-heading top-bar">
					<div class="col-md-8 col-xs-8">
						<h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat</h3>
					</div>
					<div class="col-md-4 col-xs-4" style="text-align: right;">
						<a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-plus icon_minim panel-collapsed"></span></a>
					</div>
				</div>
				<div class="panel-body" style="display: none;">
				</div>
				<div class="panel-footer" style="display: none;">
					<div class="input-group">
						<input id="chat-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
						<span class="input-group-btn">
							<button class="btn btn-primary btn-sm" id="btn-send">Send</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" id="simulatorFl" value="<%= Rho::System.isRhoSimulator%>">
<input type="hidden" id="platformName" value="<%= System.get_property('platform') %>">

<script type="text/javascript" src="/app/Chat/ChatBase.js"></script>