<h3 class="ui-bar ui-bar-a ui-corner-all">Kitchen Sink</h3>

<input type="text" name="name" id="name" value="Avdhut" placeholder="Name">
<input type="text" name="emailId" id="emailId" value="avdhut.vaidya@c2lbiz.com" placeholder="Email ID">
<input type="password" name="password" id="password" value="password" placeholder="Password">

<%= render :partial => "Chat/ChatBase" %>